<aside class="info aside section">
    <div class="section-inner">
        <h2 class="heading sr-only">Search</h2>
        <div class="content">
            <form class="form-horizontal" method="get" action="{{base_url}}/blog/search/">
                <div class="form-group">
                    {# <label for="inputSearch" class="col-sm-2 control-label">S</label> #}
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="inputSearch" placeholder="Type your term here and press enter" name="q" required>
                    </div>
                    <div class="col-sm-2 hide">
                        <button type="submit" class="btn btn-default btn-sm"> > </button>
                    </div>
                </div>
            </form> 
        </div><!--//content-->  
    </div><!--//section-inner-->                 
</aside><!--//aside-->